<div class="card-header">
    <!--mulai-->
    <h3 class="card-title">Filter</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>                
    <!--akhir-->                
</div>
<div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Pemilik</label>
          <div class="select2-purple">
          <input type="text" name="inpownersearch" id="inpownersearch">
          </div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label>Kategori</label>
            <div class="select2-purple">
              <input type="text" name="inpcategorysearch" id="inpcategorysearch">
            </div>
          </div>
  
        <!-- /.form-group -->
      </div>
      <!-- /.col -->
      <div class="col-md-6">
        <div class="form-group">
          <label>Judul</label>
          <div class="select2-purple">
            <input type="text" name="inpsubjectsearch" id="inpsubjectsearch">
          </div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
          <label>Pemilik Akses</label>
          <div class="select2-purple">
            <input type="text" name="inpusersearch" id="inpusersearch">
          </div>
        </div>
        <!-- /.form-group -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- /.row -->
</div>
