<div class="modal fade" id="mpenambahandokumen">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Penambahan Dokumen</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/uploader" method="post"  enctype="multipart/form-data" id="myuploader">
        <div class="modal-body">
            
            <!--start-->
            <div class="card card-default">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Kategori</label>
                        <select class="form-control select2bs4" style="width: 100%;">
                          <option selected="selected">Internal</option>
                          <option>Kategori 1</option>
                          <option>Kategori 2</option>
                        </select>
                      </div>
                      <!-- /.form-group -->
                      <div class="form-group">
                        <label>Judul</label>
                        <input type="text" class="form-control" >
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Tgl Terbit</label>
                        <input type="text" class="form-control">
                      </div>
                      <!-- /.form-group -->
                      <div class="form-group">
                        <label>Tgl Kedaluwarsa</label>
                        <input type="text" class="form-control">
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                  <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Keterangan</label>
                            <textarea name="" id="" cols="100" rows="10" class="form-control" ></textarea>
                          </div>    
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                        <label for="">File</label>
                        <input type="file" name="upload" id="upload">
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->

            </div>
            <!--end-->
          
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="btnSaveChanges">Save changes</button>
        </div>
      </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
